/* === Media Queries === */
@media only screen and (min-width: 720px) {}

/* === Generic Styling === */
* {}
html {
    margin: 0;
    padding: 0;
}

header {
    background-image: url("../images/realbooksedit.png");
    background-size: cover;
    height: 8.5em;
}

body {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav>ul li {
    display: inline-block;
}

nav ul li a {
    padding: .6em;
    border: 1px black solid;
    text-decoration: none;
    color: black;
}

li a.active,
li a:hover {
    background: rgb(231, 231, 231);
}

a {
    text-decoration: none;
}

footer {
    padding: 1em;
    text-align: center;
}

/* === ID/Class Specific === */
#adminTitle {
    text-align: center;
}

.userForm,
a {
    text-align: right;
    padding: .8em;
    color: black;
}

.bookFieldset {

}

.loginForm {
    font-size: 20px;
    margin: auto;
    padding-top: 2em;
    text-align: center;
    width: 10em;
}


