<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/books.css">
    <title>Add Books</title>
</head>

<body>
    <form action="../../controller/bookFormProcess.php" method="POST">
        <fieldset>
            <legend>Author Details</legend>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name">
            <label for="surname">Surname:</label>
            <input type="text" name="surname" id="surname">
            <label for="nation">Nationality</label>
            <input type="text" name="nation" id="nation">
            <label for="birthYear">Birth Year:</label>
            <input type="date" name="birthYear" id="birthYear">
            <label for="deathYear">Death Year</label>
            <input type="date" name="deathYear" id="deathYear">
        </fieldset>

        <fieldset>
            <legend>Book Details</legend>
            <label for="bkTitle">Book Title</label>
            <input type="text" name="bkTitle"><br>
            <label for="ogTitle">Original Title</label>
            <input type="text" name="ogTitle"><br>
            <label for="yearOfPub">Year of Publication</label>
            <input type="text" name="yearOfPub"><br>
            <label for="genre">Genre</label>
            <input type="text" name="genre"><br>
            <label for="millSold">Millions Sold</label>
            <input type="text" name="millSold"><br>
            <label for="langWritten">Language Written</label>
            <input type="text" name="langWritten"><br>
            <label for="covImage">Cover Image</label>
            <input type="text" name="covImage"><br>
            <!-- https://m.media-amazon.com/images/I/415Vok2xosL._SY346_.jpg -->
        </fieldset>

        <fieldset>
            <legend>Book Plot</legend>
            <label for="plot">Plot</label>
            <textarea name="plot" id="plot" cols="30" rows="10"></textarea>
            <label for="plotSource">Plot Source</label>
            <input type="text" name="plotSource" id="plotSource">
            <input type="submit" value="Submit"><br>
        </fieldset>
    </form>
</body>

</html>