<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/books.css">
    <link rel="icon" href="../images/books-1673578_1280.png" type="image/gif" sizes="16x16">
    <title>Add Books</title>
</head>

<body>
    <header>
        <div class="userForm">
            <a href="../../model/logout.php">Logout</a>
        </div>
        <div id="adminTitle">
            <h1>Administration - Add Book</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="../../homepage.php">Display Books</a></li>
            <li><a href="#">Add Book</a></li>
            <li><a href="editBooks.html">Edit Books</a></li>
            <li><a href="deleteBooks.html">Delete Books</a></li>
        </ul>
    </nav>
    <main>
        <form action="../../controller/bookFormProcess.php" method="POST">
            <fieldset class="bookFieldset">
                <legend>Author Details</legend>
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
                <label for="surname">Surname</label>
                <input type="text" name="surname" id="surname">
                <label for="nation">Nationality</label>
                <input type="text" name="nation" id="nation">
                <label for="birthYr">Birth Year</label>
                <input type="number" name="birthYr" id="birthYr">
                <label for="deathYr">Death Year</label>
                <input type="number" name="deathYr" id="deathYr">
            </fieldset>

            <fieldset class="bookFieldset">
                <legend>Book Details</legend>
                <label for="bkTitle">Book Title</label>
                <input type="text" name="bkTitle"><br>
                <label for="ogTitle">Original Title</label>
                <input type="text" name="ogTitle"><br>
                <label for="yearOfPub">Year of Publication</label>
                <input type="text" name="yearOfPub"><br>
                <label for="genre">Genre</label>
                <input type="text" name="genre"><br>
                <label for="millSold">Millions Sold</label>
                <input type="text" name="millSold"><br>
                <label for="langWritten">Language Written</label>
                <input type="text" name="langWritten"><br>
                <label for="covImage">Cover Image</label>
                <input type="text" name="covImage"><br>
                <!-- https://m.media-amazon.com/images/I/415Vok2xosL._SY346_.jpg -->
            </fieldset>

            <fieldset class="bookFieldset">
                <legend>Book Plot</legend>
                <label for="bkPlot">Plot</label>
                <textarea name="bkPlot" id="bkPlot" cols="30" rows="10"></textarea>
                <label for="bkPlotSrc">Plot Source</label>
                <input type="text" name="bkPlotSrc" id="bkPlotSrc">
                <input type="submit" value="Submit"><br>
            </fieldset>
        </form>
    </main>
    <footer>
        <div class="copyright">
            <p>&copy; Copyright Mallorie Cini <script type="text/javascript">
                    document.write("2020 - " + new Date().getFullYear());
                </script>
        </div>
    </footer>
</body>

</html>