<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/books.css">
    <title>Logout</title>
</head>

<body>
    <header>
        <div class="userForm">
            <a href="../../index.php">Login</a>
            <a href="register.html">Register</a>
            <a href="#">Logout</a>
        </div>
        <div id="adminTitle">
            <h1>Administration</h1>
        </div>
    </header>
</body>

</html>