<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/books.css">
    <link rel="icon" href="../images/books-1673578_1280.png" type="image/gif" sizes="16x16">
    <title>Create New User</title>
</head>

<body>
    <img src="../images/defaultImage.png" alt="">
    <header>
        <div class="userForm">
            <a href="../../index.php">Login</a>
        </div>
        <div id="adminTitle">
            <h1>Administration</h1>
        </div>
    </header>
    <fieldset>
        <legend>Registration</legend>
        <form action="../../controller/regProcess.php" method="POST">
            <fieldset>
                <legend>Login Details</legend>
                <label for="uname">Username:</label>
                <input type="text" name="username" id="uname" required>
                <label for="upass">Password:</label>
                <input type="password" name="pass" id="upass" required>
                <label for="acRights">Access Role:</label>
                <input type="text" name="acRights" id="acRights" required>
            </fieldset>
            <fieldset>
                <legend>User Details</legend>
                <label for="firstname">First Name</label>
                <input type="text" name="firstname" id="firstname">
                <label for="lastname">Last Name</label>
                <input type="text" name="lastname" id="lastname">
                <label for="email">Email</label>
                <input type="text" name="email" id="email">
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </fieldset>
</body>

</html>